@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;600&display=swap');  
body {
    overflow: hidden;
    margin: 0px;
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.navigation-top {
    text-decoration: none;
    background: #222222;
    font-family: 'Sen', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Sen', sans-serif;
    font-weight: bold;
}

.nav-logo {
    width: 90px;
    height: 90px;
    margin-left: 20px;
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

li a {
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
}

.nav-button {
    background-color: #FDE6D4;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    padding: 10px;
    font-family: 'Sen', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.background-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    left: 3.4%;
    width: 90%;
    height: 1000px;
    top: 181px;
    background: #222222;
    border-radius: 25px;
}

.previous-button{
    width: 150px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Sen', sans-serif;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    left: 3%;
    top: 40px;
    border-radius: 50px;
    width: 130px;
    font-style: italic;
}

.employee-container {
    position: absolute;
    width: 200px;
    height: 150px;
    top: -60px;
    background-color: #E5E6F1;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 44%;
    border-radius: 20px;
}

.logo {
    width: 150px;
    height: 150px;
    top: -20px;
    background-color: #E5E6F1;
    border-radius: 20px;
}

.parts-logo {
    position: absolute;
    width: 100px;
    height: 100px;
}
.Chicken-logo-container {
    position: absolute;
    width: 190px;
    height: 150px;
    top: 15%;
    background-color: #E5E6F1;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 15%;
    border-radius: 20px;
}

.Head-logo-container {
    position: absolute;
    width: 190px;
    height: 150px;
    top: 15%;
    background-color: #E5E6F1;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 30%;
    border-radius: 20px;
}

.Feet-logo-container {
    position: absolute;
    width: 190px;
    height: 150px;
    top: 15%;
    background-color: #E5E6F1;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 45%;
    border-radius: 20px;
}
.Liver-logo-container {
    position: absolute;
    width: 190px;
    height: 150px;
    top: 15%;
    background-color: #E5E6F1;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 67%;
    border-radius: 20px;
}
.ChickenBlood-logo-container {
    position: absolute;
    width: 190px;
    height: 150px;
    top: 45%;
    background-color: #E5E6F1;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 28%;
    border-radius: 20px;
}
.Intestine-logo-container {
    position: absolute;
    width: 190px;
    height: 150px;
    top: 45%;
    background-color: #E5E6F1;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 44%;
    border-radius: 20px;
}
.Gizzard-logo-container {
    position: absolute;
    width: 190px;
    height: 150px;
    top: 45%;
    background-color: #E5E6F1;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 60%;
    border-radius: 20px;
}