@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;600&display=swap');  

body {
    font-family: 'Sen', sans-serif;
    background: #ffffff;
    overflow: hidden;
    margin: 0px;
}
  
.navigation-top {
    text-decoration: none;
    background: #222222;
    font-family: 'Sen', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
  
.navigation-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Sen', sans-serif;
    font-weight: bold;
}
  
.nav-logo {
    width: 90px;
    height: 90px;
    margin-left: 20px;
}
  
ul {
    list-style: none;
    display: flex;
    gap: 25px;
}
  
li a {
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
}
  
.nav-button {
    background-color: #FDE6D4;
    border-radius: 10px;
    font-family: 'Sen';
    font-size: 16px;
    cursor: pointer;
}

.previous-button{
    margin-top: 10px;
    background-color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 50px;
    font-style: italic;
    padding: 0 20px;
}
.previous-button, .nav-button{
    width: 150px;
    height: 50px;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #ccc;
}
.previous-button:hover {
    background-color: #FDE6D4;
}
.background-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    left: 3.4%;
    width: 90%;
    height: 1000px;
    top: 181px;
    background: #222222;
    border-radius: 25px;
}
.parts-logo {
    position: absolute;
    width: 100px;
    height: 100px;
}
.Chicken-logo-container {
    top: 18%;
    left: 20%;
}

.Head-logo-container {
    top: 18%;
    left: 36%;
}

.Feet-logo-container {
    top: 18%;
    left: 52%;
}
.Liver-logo-container {
    top: 18%;
    left: 67.5%;
}
.ChickenBlood-logo-container {
    top: 45%;
    left: 28%;
}
.Intestine-logo-container {
    top: 45%;
    left: 44%;
}
.Gizzard-logo-container {
    top: 45%;
    left: 60%;
}

.Chicken-logo-container, .Head-logo-container, .Feet-logo-container,
.Liver-logo-container, .Intestine-logo-container, .ChickenBlood-logo-container,
.Gizzard-logo-container {
    position: absolute;
    width: 190px;
    height: 150px;
    background-color: #E5E6F1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}

.Chicken-logo-container:hover, .Head-logo-container:hover, .Feet-logo-container:hover,
.Liver-logo-container:hover, .Intestine-logo-container:hover, .ChickenBlood-logo-container:hover,
.Gizzard-logo-container:hover {
    background-color: #FDE6D4;
}
