@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sen', sans-serif;
  background: #ffffff;
  overflow-x: hidden;
}

.navigation-top {
  text-decoration: none;
  background: #222222;
  font-family: 'Sen', sans-serif;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Sen', sans-serif;
  font-weight: bold;
}

.nav-logo {
  width: 90px;
  height: 90px;
  margin-left: 20px;
}

ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

li a {
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
}

.nav-button {
  background-color: #FDE6D4;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  padding: 10px;
  font-family: 'Sen', sans-serif;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.background-container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 90%;
  background: #222222;
  border-radius: 25px;
  color: white;
  margin: 60px auto;
}

.logo {
  width: 150px;
  height: 150px;
}

.employee-form-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  color: black;
  margin-bottom: 30px;
  margin-top: 30px;
}

.employee-form label {
  display: block;
  margin-top: 10px;
  font-weight: 600;
}

.employee-form input,
.employee-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 20px;
}

.delete-button, .previous-button {
  width: 150px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.previous-button {
  border-radius: 50px;
  font-style: italic;
  padding: 0 20px;
}

.employee-table-container {
  margin-top: 40px;
  background: #fff;
  border-radius: 10px;
  padding: 40px;
  overflow-x: auto;
  color: black;
  font-size: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-height: 500px;
  overflow-y: auto;
  position: relative;
  
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Sen', sans-serif;
  table-layout: fixed;
}

th, td {
  padding: 24px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 20px;
  word-wrap: break-word;
}

th {
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 22px;
}

tr.selected {
  background-color: #dbeafe;
  font-weight: bold;
}

tr:hover {
  background-color: #f9f9f9;
}
